﻿@model Elevator.Manager.Entities.Floor

@{
    ViewBag.Title = "FloorsView";
    Layout = "~/Views/Home/Index.cshtml";
}

<h2>FloorsView</h2>
What do you want for your birthday?

<% using(Html.BeginForm()) { %>
<div id="editorRows">
    <% foreach (var item in Model)
    Html.RenderPartial("FloorRow", item);
    %>
</div>

<input type="submit" value="Finished"/>
<% } %>